<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--  当tomcat加载web.xml时，把Spring配置文件信息存放到application对象  -->
    <!--  WebApplicationContext 容器，是ApplicationContext的子接口  -->
    <!--  设置Spring配置文件路径  -->

</web-app>
